<p>
<strong>id</strong>: <%= user._id %><br>
<strong>email</strong>: <%= user.local.email %><br>
<strong>password</strong>: <%= user.local.password %>
<br>
<strong>Full Name</strong>: <%= userDetails.full_name %>
<br>
<strong>Gender</strong>: <%= userDetails.gender %>
<br>
<strong>Date of Birth</strong>: <%= userDetails.dateofbirth %>
<br>
<strong>City</strong>: <%= userDetails.city %>
<br>
<strong>State</strong>: <%= userDetails.state %>             
<br>
<strong>Zip Code</strong>: <%= userDetails.zip_code %>              
<br>
<strong>Skills</strong>: <%= userDetails.skills %>      
<br>
<strong>Experience</strong>: <%= userDetails.experience %>              
<br>
<strong>Education</strong>: <%= userDetails.education %>                                                                            
</p>